OSL.xcodeproj/project.xcworkspace/xcshareddata
OSL.xcodeproj/project.xcworkspace/xcuserdata
OSL.xcodeproj/xcshareddata
OSL.xcodeproj/xcuserdata
OSL.VC.VC.opendb
OSL.VC.db
Debug/
Release/
*.d
*.o
test/test
*.db
*.opendb
.vs/OSL/v15/ipch
*.db-shm
*.db-wal
*.user
